<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог товаров</title>
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js}"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->
    <!--    вот из-за этой х***ни не смог запустить sock.js, никто не сказал ничего на уроке про это-->
    <!--    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>-->
    <script th:inline="javascript">
    var stompClient = null;
    window.onload = connect();

    function connect() {
        var socket = new SockJS('/store/cart-socket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, onConnected, onError);
    }

    function onConnected(frame) {
        stompClient.subscribe('/topic/messages', onMessageReceived);
    }

    function onError(error) {
        console.log('Hay un errorcito aqui:');
        console.log(error);
        console.log(stompClient);
    }

    function onMessageReceived(message) {
        updateQuantity(JSON.parse(message.body).content);
    }

    function updateQuantity(message) {
        $(document).ready(function() {
            document.getElementById("toast-text").innerHTML=message;
            $("#toast").toast('show');
        });
    }
    </script>
</head>
<body>
<div th:replace="~{navigation :: navi(Shop)}"/>
<div class="container">
    <br>
    <h1 th:text="Фильтры" />
    <form th:action="@{/shop}" method="get">
        <input hidden th:value="${param.page}" th:name="page">
        <input th:value="${param.word}" th:name="word" type="text" placeholder="Название">
        <input th:value="${param.min}" th:name="min" type="number" placeholder="Минимальная цена">
        <input th:value="${param.max}" th:name="max" type="number" placeholder="Максимальная цена">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>
    <br>
    <h1 th:text="#{products.list}"/>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Картинка</th>
            <th>Название товара</th>
            <th>Цена</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products.content}">
            <td th:text="${product.id}"/>
            <td>
                <img th:if="${product.images.size() > 0}" width="40" height="40" th:src="@{'/images/' + ${product.images[0].path}}" />
            </td>
            <td th:text="${product.title}"/>
            <td th:text="${product.price}"/>
            <td>
                <a th:href="@{'/shop/cart/add/' + ${product.id}}" class="btn btn-primary">Добавить в корзину</a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:each="i : ${#numbers.sequence(1, products.totalPages, 1)}">
                <a th:class="page-link" th:text="${i}" th:classappend="${page == i ? 'active' : ''}" th:href="@{/shop(page=${i}, size=${products.size}, word=${param.word}, min=${param.min}, max=${param.max})}"></a>
            </li>
        </ul>
    </nav>
    <div class="toast" id="toast" data-delay="3000">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-grav"></i>Эй, чувак!</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div id="toast-text" class="toast-body">Tienes que comer los frijolitos mas bien!</div>
    </div>
</div>
</body>
</html>